body{
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 50px;
    margin: auto;
}
.title{
    font-size:larger ;
    text-align: center;
}
.form{
    border-radius: 4px;
    background-color: rgb(204, 182, 182);
    padding: 20px;
    padding-top: 20px;  
}
form input, label{
    display: block;
    padding: 5px;
    margin: 8px 5px;
}
.textUser{
    margin-top: 5px;
    border-radius: 5px;
}
form input:not(:last-child){
    margin-bottom: 20px;
}
.button{
    margin: auto;
    padding: 10px;
    background-color: rgb(146, 135, 120);
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(143, 140, 136);
}
